body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* NAVIGATION BAR */

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4em;
    background: var(--white);
}
.nav-logo img{
    padding: 0.5em;
    cursor: pointer;
}
.nav-tabs{
    height: 100%;
    width: calc(30vw);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
.nav-tabs .nav-btn{
    color: var(--grayish-blue);
    padding: 0.25em;
    margin: 1em;
    position: relative;
    transition: color 150ms ease-in-out;
}
.nav-tabs .nav-btn:hover{
    color: var(--dark-blue);
}
.nav-tabs .nav-btn::after{
    content: '';
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(-100% + 0.2em);
    width: 100%;
    background: black;
    height: 0.4em;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.nav-tabs .nav-btn:hover::after{
    opacity: 100%;
}
.request-inv-btn .nav-btn{
    padding: 1em 2em;
    border-radius: 2em;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--light-grayish-blue);
    opacity: 100%;
    transition: opacity 250ms ease-in-out;
    font-weight: 700;
}
.request-inv-btn .nav-btn:hover{
    opacity: 60%;
}

/* INTRODUCTION SECTION */

h3, h4, h5, h6{
    margin: 0;
    color: var(--dark-blue);
    font-weight: 300;
}
h3{
    font-size: 3.5em;
}
h4{
    font-size: 2.5em;
}
h5{
    font-size: 1.5em;
    margin: 1.5em 0;
}
section{
    height: 40em;
    padding: 0 10em;
}
.intro{
    position: relative;
    display: flex;
    background: var(--very-light-gray);
    justify-content: space-between;
}
.intro-content{
    max-width: 30%;
    margin-top: 8em;
}

p{
    color: var(--grayish-blue);
    margin: 1.5em 0;
    font-size: 1.2em;
}
.intro-logo {
    overflow: hidden;
    position: absolute;
    top: 4em;
    right: 0;
    bottom: 0;
    left: 35vw;
}
.img-bground img, .img-mockup img{
    float: right;
    position: absolute;
    left: 24vw;
    top: -5em;
}
.img-bground img{
    left: 15vw;
    top: -14em;
    transform: scale(1.035);
}

/* BASIC INFO (Why Easybank?) SECTION */

.basic-info{
    padding-top: 8em;
    background: var(--light-grayish-blue);
}

.basic-info p{
    max-width: 40em;
    margin-bottom: 5em;
}
.basic-content{
    display: flex;
    justify-content: center;
    gap: 1.8em; 
}
.basic-content p{
    font-size: 1em;
}

/* ARTICLES SECTION */

.articles{
    background: var(--very-light-gray);
    padding-top: 8em;
}

.articles .content{
    display: flex;
    justify-content: space-between;
    /* gap: 2.5em; */
}

.articles h4{
    margin-bottom: 1em
}
cite{
    font-size: 0.6em;
    font-style: normal;
    color: var(--dark-blue);
}

.article{
    width: 20em;
    background: var(--white);
    border-radius: 0.5em;
}
.article img{
    width: 100%;
    aspect-ratio: 1.3;
    border-radius: 0.5em 0.5em 0 0;
}
.article-content{
    width: 80%;
    padding: 2em;
}
.article-content h6{
    font-size: 1.3em;
    margin: 0.5em 0;
    transition: color 150ms ease-in-out,
                transform 300ms ease-in-out;
    cursor: pointer;
}
.article-content h6:hover{
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    background-clip: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
    color: var(--lime-green);
}
.article-content p{
    font-size: 0.9em;
}

/* FOOTER SECTION */

.footer{
    background: var(--dark-blue);
    height: 15em;
    display: flex;
    justify-content: space-around;
    padding: 4em;
}

.footer-logo .logo{
    filter: invert(15%);
}

.footer-request{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-btns{
    display: grid;
    grid-template-columns: repeat(2, 12em);
    grid-template-rows: repeat(3, 2em);
    justify-items: start;
}

.footer-btns button{
    font-size: 1em;
    font-weight: 400;
    color: var(--very-light-gray);
    height: 2em;
    padding: 1em;
    transition: color 150ms ease-in-out;
}
.white-background{
    background: white;
    border-radius: 2em;
}
.footer-btns button:hover{
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    background-clip: var(--dark-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--lime-green);
}

.footer .icons{
    margin: 5em 0;
}

.footer .icons img{
    margin-left: -1em;
    margin-right: 1em;
    padding: 1em;
    cursor: pointer;
    filter: invert(0%);
    fill: var(--dark-blue);
}

.footer .icons img:hover{
    filter: invert(0.02) sepia(1) saturate(15) hue-rotate(72deg) brightness(1);
}